html {
  min-height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#ff5e9e), to(#29ff96)) no-repeat;
  background: -webkit-linear-gradient(top, #ff5e9e 0%, #29ff96 100%) no-repeat;
  background: -o-linear-gradient(top, #ff5e9e 0%, #29ff96 100%) no-repeat;
  background: linear-gradient(to bottom, #ff5e9e 0%, #29ff96 100%) no-repeat;
}
body {
  padding: 50px;
  font-family: "Trebuchet MS", Verdana, sans-serif;
  font-size: 14px;
}
.menu {
  white-space: nowrap;
  font-size: 0;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bedfff), to(#5ba0ff));
  background: -webkit-linear-gradient(top, #bedfff 0, #5ba0ff 100%);
  background: -o-linear-gradient(top, #bedfff 0, #5ba0ff 100%);
  background: linear-gradient(to bottom, #bedfff 0, #5ba0ff 100%);
}
.menu__item {
  display: inline-block;
  font-size: 14px;
  white-space: normal;
}
.menu_dropdown {
  position: relative;
  background: none;
}
.menu_dropdown .menu__item {
  display: block;
}
.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
  border-radius: 0 0 3px 3px;
  cursor: default;
  display: none;
}
.dropdown_position_right {
  top: 0;
  left: 100%;
  border-radius: 0 3px 3px 3px;
}
.dropdown_expanded {
  display: block;
}
.menu-group {
  padding: 5px 0;
  border-bottom: 2px solid #bbb;
}
.menu-group:last-child {
  border-bottom: none;
}
.menu-group__caption {
  color: #bbb;
  padding: 0 15px;
  margin: 0 0 5px;
}
.menu-item {
  padding: 5px 15px;
  position: relative;
  white-space: nowrap;
  color: #000;
  cursor: pointer;
}
.menu-item__caption {
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu-item_active .menu-item__caption {
  font-weight: bold;
}
.menu-item_focused {
  color: #fff;
  background: #3a35ff;
}
.menu-item[disabled],
.menu-item_disabled,
.menu-item_disabled:hover {
  color: #bbb;
  cursor: default;
  background: none;
}
.menu-item_link {
  font-style: italic;
}
.menu-item_nested-menu {
  padding-right: 45px;
}
.menu-item_nested-menu:after {
  content: '►';
  width: 14px;
  height: 14px;
  margin: auto 0;
  line-height: 14px;
  position: absolute;
  right: 15px;
  font-size: .8em;
  text-align: right;
}
.menu-item.menu-item_pending {
  -webkit-animation: menu-item-pending 0.25s;
       -o-animation: menu-item-pending 0.25s;
          animation: menu-item-pending 0.25s;
}
@-webkit-keyframes menu-item-pending {
  0% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  33% {
    color: #fff;
    background: #3a35ff;
  }
  50% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  66% {
    color: #fff;
    background: #3a35ff;
  }
  100% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
}
@-o-keyframes menu-item-pending {
  0% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  33% {
    color: #fff;
    background: #3a35ff;
  }
  50% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  66% {
    color: #fff;
    background: #3a35ff;
  }
  100% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
}
@keyframes menu-item-pending {
  0% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  33% {
    color: #fff;
    background: #3a35ff;
  }
  50% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
  66% {
    color: #fff;
    background: #3a35ff;
  }
  100% {
    color: #000;
    background: rgba(255, 255, 255, 0);
  }
}
